/*
    :root does not work in IE8
    border-radius is not supported by IE8
    box-shadow not supported in IE8 and Safari 5.0
    
*/

:root{
    --blue : #2570FF; 
    --violet: #BA25FF;
    --red: #E94C3C;
    --prismHeight: 420px;
    --prismWidth: 320px;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 1.6em;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.demoButton{
    border: 0;
    margin: 5px 10px;
    padding: 10px 10px;
    font-size: 1.25em;
    background-color: #00C84F;
    color: #fff;
    box-shadow: 0 2px 25px #fff;
}

.demoButton:hover{
    box-shadow: 0 2px 25px #fff;
}



/*---------- Header bar styling ----------*/

#headingTag{
    border: 0;
    background: linear-gradient(to right, #2570ff 0%,  #BA25FF 90%);
    box-shadow: 0 2px 25px #FFF;
}

#logo-white{
    background: url('../img/logo-white.png');
    background-size: cover;
    display: block;
    width: 180px;
    height: 60px;
    margin: 15px;
}

#logo-color{
    background: url('../img/nav-logo.png');
    background-size: cover;
    display: none;
    width: 180px;
    height: 60px;
    margin: 15px;
}

#collapsable-nav{
    border: 0;
}

#navList{
    padding: 15px;
}

#navList li{
    transition: transform border-bottom .3s;
}

#navList li a{
    color: #fff;
    font-size: 1.5em;
}

.navbar-header button.navbar-toggle{
    border: 0;
    margin: 0;
    top: 10px;
    right: 10px;
}

.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus{
    /*background-color: var(--blue);*/
    /*background-color: #2570FF;*/
}

.navbar-header .icon-bar{
    border: 1px solid #fff;
    width: 50px;
    margin: 10px 0;
}

#navList li:hover{
    /*transform: scale(1.1);*/
    border-bottom: 2px solid white;
}

#navList ul li{
    font-size: 12px;
}

.navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus{
    background-color: #aa25ff;
}

.navbar-default .navbar-nav .open a{
    background-color: var(--violet);
    background-color: #BA25FF;
}

.dropdown-menu{
    background-color: var(--violet);
    background-color: #BA25FF;
    /*width: 200px;*/
    /*padding: 0;*/
}

.navbar-default .navbar-nav .open a{
    background-color: var(--violet);
    background-color: #BA25FF;
}

.dropdown-menu li{
    width: 100%;
    padding-bottom: 5px;
}

.dropdown-menu li a: hover{
    /*padding: 5px 0;*/
    background-color: black !important;
}



/*---------- Main Content Styling ----------*/
.content{
    margin-top: 90px;
    /*height: 500px;*/
}

#aboutus, #platform, #solution, #team{
    margin-top: 5%;
}

.title{
    /*width: 120px;*/
    color: #000;
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: 0;
    text-align: left;
    clear: both;
    /*margin: 15px*/
}

.titleLine{
    border-bottom: 5px solid #2570ff;
    width: 120px;
    margin: 0;
    /*text-align: left;*/
}

/*---------- Platform Styling ----------*/

#platform{
    position: relative;
    text-align: center;
}

#platformTools{
    border-radius: 30px;
    border: 3px solid #c0c0c0;
    box-shadow: 5px 5px 15px #c0c0c0;
    display: inline-block;
    width: 100%;
    min-height: 570px;
    margin: 15px auto;
    /*padding: 5px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*transition: all .5s ease-in;*/
}

#platformTools button{
    border: 0;
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    /*opacity: 0.9;*/
    margin: 10px;
    top: 200px;
    /*text-align: center;*/
    /*display: flex;*/
    /*align-items: center;*/
    transition: all .3s ease-in;
    position: absolute;
    /*justify-content: center;*/
}

#platformTools a{
    font-size: 2em;
    color: #fff;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#iptTool{
    background-color: #E94C3C;
    left: 40px;
}

#nluTool{
    background-color: #3CA9E9;
    left: 400px;
}

#utilityTool{
    background-color: #52BE80;
    left: 750px;
}

#nlu, #utility, #ipt{
    width: 70%;
    position: absolute;
    left: 300px;
    top: 150px;
    margin: 0px auto;
    padding-bottom: 15px;
    display: none;
    /*transform: scale(0);*/
    animation: showElement 0.5s ease-out;
}

#detailnlu{
    width: 80%;
    text-align: justify;
    padding: 0 20px;
    margin-top: 550px;
    display: none;
}

@keyframes showElement {
    from{transform: scale(0.5);}
    to{transform: scale(1);}
}

#ipt{

}

#iptDisplay{
    width: 350px;
    height: 350px;
    position: relative;
    margin: 30px auto;
}

.iptComponent{
    position: absolute;
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
    font-size: 1.2em;
}

#iptComponent1{
    box-shadow: 1px 10px #2540FF;
    background-color: #2570FF;
    top: 0;
    left: 0;
}

#iptComponent2{
    box-shadow: 1px 10px #FFB002;
    background-color: #FFC532;
    top: 0;
    right: 0;
}

#iptComponent3{
    background-color: #EF7B22;
    box-shadow: 1px 10px #EF5B00;
    bottom: 0;
    left: 0;
}

#iptComponent4{
    background-color: #FF5656;
    box-shadow: 1px 10px #BF5656;
    bottom: 0;
    right: 0;
}
#nluList{
    background-color: #BA25FF;
    width: 350px;
    /*display: inline-block;*/
    margin: 15px;
    /*text-align: center;*/
    height: 450px;
    padding-top: 30px;
    float: left;
}

#nluList a{
    font-size: 1em;
}

#nlu p{
    font-size: 10pt;
    text-align: justify;
    padding: 0 15px;
    color: #fff;
    /*margin: 30px auto;*/
}

#nluList .nav1{
    padding: 0;
    list-style-type: none;
}

#nluList .nav1 li{
    width: 300px;
    font-size: 1.2em;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
    /*box-shadow: 0 2px 25px #fff;*/
    transition: all .3s;
}

#nluList .nav1 li:hover{
    transform: scale(1.1);
}

#nluList button{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    top: 0;
}

#nluPrism{
    height: 450px;
    width: 40%;
    display: inline-block;
    margin: 15px;
    float: left;
    perspective: 600px;
}

.recPrism{
    width: var(--prismWidth);
    height: var(--prismHeight);
    position: relative;
    margin: 15px auto;
    transform: translateZ(-150px);
    transform-style: preserve-3d;
    transition: transform .5s ease-in;
}

.face{
    position: absolute;
    width: var(--prismWidth);
    height: var(--prismHeight);
    padding: 20px;
    background: rgba(250,250,350,0.96);
    border: 3px solid #2570FF ;
    border-radius: 3px;
    text-align: justify;
    /*color: #666;*/
}

.face h4{
    text-align: center;
    font-size: 1.5em;
    color: #2570FF;
}

.face small{
    /*padding: 5px;*/
    font-size: 0.8em;
}


.face-front{
    transform: rotate(0deg) translateZ(160px);
}

/*.face-top{ 
    height: 320px;
    transform: rotateX(90deg) translateZ(160px); 
}*/

.face-back{ 
    transform: rotateY(180deg) translateZ(160px); 
}

.face-right{ 
    transform: rotateY(90deg) translateZ(160px); 
}

.face-left{ 
    transform: rotateY(270deg) translateZ(160px); 
}

.face-bottom{ 
    height: 320px;
    transform: rotateX(-90deg) translateZ(260px);
}

#utility{
    width: 60%;
    top: 250px;
    /*margin: 0 auto;*/
}

#utility p{
    text-align: justify;
}

#utility ul{
    list-style-type: lower-alpha;
    /*padding: 0px;*/
    text-align: left;
    /*margin: 0;*/
}

#utility li{
    margin: 5px;
    padding: 0 15px; 
}

/*---------- About Us styling ----------*/
#aboutus{
    line-height: 2;
}

#aboutus h3{
    color: #2570FF;
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
}

#aboutus p{
    width: 90%;
    margin: 30px auto;
    /*font-size: 12pt;*/
    text-align: justify;
}

/*---------- Solution Styling ----------*/
#solution{
    line-height: 2;
    text-align: justify;
}

.sol{
    width: 90%;
    margin: 15px auto;
}

.sol h3{
    color: #2570FF;
    font-weight: bold;
}

.pager li a{
    background-color: #2570FF;
    color: #fff;
}

.pager li a:focus, .pager li a:hover{
    background-color: #fff;
    color: #2570FF;
}

/*---------- Team Styling ----------*/


.team{
    text-align: center;
    padding: 20px 0;
    /*margin: 25px 0;*/
}

.main-wrapper{
    position: relative;
    display: inline-block;
    margin: 35px 15px;
}

.teamPic img{
    width: 150px;
    height: 150px;
}

.main-wrapper img{
    border-radius: 50%;
    box-shadow: 0px 4px 8px var(--blue);
    transition: all .3s;
}

.main-wrapper img:hover{
    transform: scale(1.2);
}

.main-wrapper button{
    background-color: var(--blue);
    position: absolute;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    will-change: transform;
    transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.triggerContact{
    width: 45px;
    height: 45px;
    bottom: 0;
    right: 0;
    padding: 0;
    box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
}

.triggerContact a{
    text-decoration: none;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.teamName{
    position: absolute;
    top: 150px;
    width: 100%;
    left: 0;
    background-color: #fff;
}


/*---------- Contact Us Styling ----------*/


/*---------- Footer bar Styling ----------*/


.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    border-top: 0;
    background: linear-gradient(to right, #2570ff 0%,  #BA25FF 90%);
    color: #fff;
}

.panelfooter div.row{
    margin-bottom: 35px;
}

#menubar{
    line-height: 2;
    text-align: center;
}

#menubar li{
    /*display: inline-block;*/
    list-style-type: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px;
}


.detail{
    display: flex;
    align-items: center;
    justify-content: left;
}

#address span, #contactus span{
    /*color: #2570FF;*/
    font-size: 3em;
    padding: 10px;
}

#copyright{
    background: #222;
    color: #fff;
    padding: 5px 0;
}


/*---------- careers.html ------------*/
#career p{
    text-align: justify;
    width: 80%;
    margin: 30px auto;
}

#joinTeam{
    margin-top: 50px;
    color: #2570FF;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #000;
}

#jobs{
    border: 2px solid #52BE80;
    text-align: center;
    width: 200px;
    margin: 30px auto;
}

#positions{
    padding:10px;
    cursor: pointer;
    background-color: #52BE80;
}

#location{
    padding: 10px;
}

#nlpEngineer{
    width: 80%;
    margin: 30px auto;
    text-align: justify;
    line-height: 2;
    display: none;
    animation: showElement 0.5s ease-out;
    /*width: auto;*/
}

#hiring{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

#hiring p{
    display: inline-block;
    margin: 0;
    width: auto;
}

#hiring img{
    width: 200px;
    height: 250px;
}

/*---------- Changes for Mobile devices ----------*/

@media(min-width: 992px) and (max-width: 1199px){
    /*medium devices*/
    
    #platformTools button{
        height: 250px;
        width: 250px;
    }

    #iptTool{
        background-color: #E94C3C;
        left: 40px;
    }

    #nluTool{
        background-color: #3CA9E9;
        left: 350px;
    }

    #utilityTool{
        background-color: #52BE80;
        left: 650px;
    }
    #nlu, #utility, #ipt{
        left: 250px;
        /*position: relative;*/
    }
    #nluList button{
        display: inline-block;
        position: relative;
        margin: 0 auto;
        width: 150px;
        height: 50px;
        top: 0;
    }
    #nluList{
        width: 280px;
    }

    #nluPrism{
        width: 30%;
    }

    .main-wrapper{
        width: 20%;
    }
    .triggerContact{
        right: 10px;
    }
    /*:root{
        --prismHeight: 400px;
        --prismWidth: 280px;
    }*/

@media(min-width: 768px) and (max-width: 991px){
    /*Small devices*/
    #nlu{
        position: relative;
        display: block;
    }

    #nluPrism{
        position: relative;
        display: block;
    }
    #logo-white{
        width: 150px;
        height: 50px;
        margin-top: 15px;
    }
    #logo-color{
        /*display: none;*/
        width: 150px;
        height: 50px;
        margin-top: 15px;
    }
}

@media(max-width: 767px){
    /*Extra small devices*/
    #navList li:hover{
        transform: scale(1);
        border-bottom: 2px solid white;
    }
    .content{
        height: inherit;
    }
    #navList li a{
        color: #fff;
        /*font-size: 18px;*/
    }
    #logo-white{
        width: 150px;
        height: 50px;
        margin: 15px 15px;
    }
    #logo-color{
        width: 150px;
        height: 50px;
        margin: 15px 15px;
    }
    #platformTools{
        display: block;
        padding: 0 10px;
    }
    #platformTools button{
        position: relative;
        margin: 20px 0;
    }
    #iptTool, #nluTool, #utilityTool{
        left: 0;
    }
    #nluPrism{
        /*margin: 0;*/
        /*position: relative;*/
        display: none;
    }
    #nlu ,#ipt, #utility{
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    #nluList{
        margin: 15px;
        padding: 0;
        /*width: 300px;*/
        height: 400px;
        position: relative;
    }
    #aboutus p{
        width: 100%;
    }
}
