:root{
    --blue : #2570FF; 
    --violet: #BA25FF;
    --red: #E94C3C;
    --prismHeight: 420px;
    --prismWidth: 320px;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 16px;
    color: #7d7d7d;
    font-family: 'Poppins', sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.demoButton{
    border: 0;
    padding: 5px 10px;
    font-size: 1.25em;
    border-radius: 20px;
    background-color: #00C84F;
    color: #fff;
    /*box-shadow: 0 2px 25px #fff;*/
}

.demoButton:hover{
    box-shadow: 0 2px 25px #fff;
}



/*---------- Header bar styling ----------*/

#headingTag{
    border: 0;
    background: linear-gradient(to right, #2570ff 0%,  #BA25FF 90%);
    box-shadow: 0 2px 25px #FFF;
}

#logo-white{
    background: url('../img/logo-white.png') round;
    display: block;
    width: 180px;
    height: 60px;
    margin: 15px;
}

#logo-color{
    background: url('../img/logo-color.png') round;
    display: none;
    width: 180px;
    height: 60px;
    margin: 15px;
}

#collapsable-nav{
    border: 0;
}

#navList{
    padding: 15px;
}

#navList li{
    transition: transform border-bottom .3s;
}

#navList li a{
    color: #fff;
    font-size: 20px;
}

.navbar-header button.navbar-toggle{
    border: 0;
    margin: 0;
    top: 10px;
    right: 10px;
}

.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus{
    background: var(--blue);
}

.navbar-header .icon-bar{
    border: 1px solid #fff;
    width: 50px;
    margin: 10px 0;
}

#navList li:hover{
    transform: scale(1.1);
    border-bottom: 2px solid white;
}

#navList ul li{
    transform: scale(0.8);
}

#navList ul li:hover{
    transform: scale(0.9);
    border: 0;
}


.navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus{
    background-color: #aa25ff;
}

.navbar-default .navbar-nav .open a{
    background-color: var(--violet);
}

.dropdown-menu{
    background-color: var(--violet);
}



/*---------- Main Content Styling ----------*/
.content{
    margin-top: 90px;
    /*height: 500px;*/
}

.title{
    /*width: 120px;*/
    color: #000;
    font-weight: bold;
    font-size: 40pt;
    margin-bottom: 0;
    text-align: left;
    clear: both;
    /*margin: 15px*/
}

.titleLine{
    border-bottom: 5px solid #2570ff;
    width: 120px;
    margin: 0;
    /*text-align: left;*/
}

/*---------- Platform Styling ----------*/

#platform{
    position: relative;
    text-align: center;
}

#platformTools{
    border-radius: 30px;
    border: 3px solid #c0c0c0;
    box-shadow: 2px 2px 5px #a9a9a9;
    display: inline-block;
    margin: 15px auto;
    padding: 5px;
}

#platformTools div{
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    float: left;
    margin: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: transform .5s ease-in;
    /*justify-content: center;*/
}

#platformTools span{
    color: #fff;
    width: 100%;
    text-align: center;
}

#iptTool{
    background-color: var(--red);
}

#nluTool{
    background-color: #3CA9E9;
}

#utilityTool{
    background-color: #52BE80;
}

#nlu, #utility{
    width: 70%;
    margin: 0px auto;
    padding-bottom: 15px;
    display: none;
    animation: sucess 1s ease-out;
}

@keyframes sucess {
    from{transform: scale(0.7);}
    to{transform: scale(1);}
}

#nluList{
    background-color: var(--violet);
    width: 350px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    height: 450px;
    padding-top: 30px;
    float: left;
}

#nlu p{
    /*font-size: 12pt;*/
    text-align: justify;
    margin: 30px auto;
}

#nluList .nav1{
    padding: 0;
    list-style-type: none;
}

#nluList .nav1 li{
    width: 300px;
    font-size: 1.2em;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
    /*box-shadow: 0 2px 25px #fff;*/
    transition: all .3s;
}

#nluList .nav1 li:hover{
    transform: scale(1.1);
}

#nluList button{
    margin: 0 0 15px 15px;
}

#nluPrism{
    height: 450px;
    width: 40%;
    display: inline-block;
    margin: 15px;
    float: right;
    perspective: 600px;
}

.recPrism{
    width: var(--prismWidth);
    height: var(--prismHeight);
    position: relative;
    margin: 15px auto;
    transform: translateZ(-150px);
    transform-style: preserve-3d;
    transition: transform .5s ease-in;
}

.face{
    position: absolute;
    width: var(--prismWidth);
    height: var(--prismHeight);
    padding: 20px;
    background: rgba(250,250,350,0.96);
    border: 3px solid var(--blue);
    border-radius: 3px;
    text-align: justify;
    /*color: #666;*/
}

.face h4{
    text-align: center;
    font-size: 1.5em;
    color: var(--blue);
}

.face small{
    /*padding: 5px;*/
    font-size: 0.8em;
}


.face-front{
    transform: rotate(0deg) translateZ(160px);
}

.face-top{ 
    height: 320px;
    transform: rotateX(90deg) translateZ(160px); 
}

.face-back{ 
    transform: rotateY(180deg) translateZ(160px); 
}

.face-right{ 
    transform: rotateY(90deg) translateZ(160px); 
}

.face-left{ 
    transform: rotateY(-90deg) translateZ(160px); 
}

.face-bottom{ 
    height: 320px;
    transform: rotateX(-90deg) translateZ(260px);
}



#utility p{
    text-align: justify;
}

#utility ul{
    list-style-type: lower-alpha;
    /*padding: 0px;*/
    text-align: left;
    /*margin: 0;*/
}

#utility li{
    margin: 5px;
    padding: 0 15px; 
}

/*---------- About Us styling ----------*/
#aboutus{

}

#aboutus h3{
    color: var(--blue);
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
}

#aboutus p{
    width: 90%;
    margin: 30px auto;
    /*font-size: 12pt;*/
    text-align: justify;
}

/*---------- Team Styling ----------*/


.team{
    text-align: center;
    padding: 20px 0;
    /*margin: 25px 0;*/
}

.main-wrapper{
    position: relative;
    display: inline-block;
    margin: 35px;
}

.teamPic img{
    width: 200px;
    height: 200px;
}

.main-wrapper img{
    border-radius: 50%;
    box-shadow: 0px 4px 8px var(--blue);
    transition: all .3s;
}

.main-wrapper img:hover{
    transform: scale(1.2);
}

.main-wrapper button{
    background-color: var(--blue);
    color: #fff;
    position: absolute;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    will-change: transform;
    transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.main-wrapper .button-inside{
    width: 50px;
    height: 50px;
    bottom: 3px;
    right: 3px; 
    z-index: 5;
    transition: transform 400ms cubic-bezier(0.07, 1.1, 0.28, 1.01);
    cursor: pointer;
}

.triggerContact{
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    z-index: 6;
    /*transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); */
    box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
}

.button-inside.animation{
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
}

.button-inside.call.animation{
    transform: rotate(-36deg) translateX(60px) translateY(-30px);
}

.call span{
    transform: rotate(36deg);
}

.button-inside.message.animation{
    transform: rotate(-68deg) translateX(120px) translateY(-30px);
}

.message span{
    transform: rotate(68deg);
}

.button-inside.linkedIn.animation{
    transform: rotate(-90deg) translateX(160px) translateY(-30px);
}

.linkedIn span{
    transform: rotate(90deg);
}

.teamName{
    position: absolute;
    bottom: -50px;
    width: 100%;
    left: 0;
    background-color: #fff;
}


/*---------- Footer bar Styling ----------*/


.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    border-top: 0;
    background: linear-gradient(to right, #2570ff 0%,  #BA25FF 90%);
    color: #fff;
}

.panelfooter div.row{
    margin-bottom: 35px;
}

#menubar, #address{
    line-height: 2;
    text-align: center;
}

#menubar li{
    /*display: inline-block;*/
    list-style-type: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px;
}

#address span{
    font-size: 1.3em;
}

#copyright{
    background: #222;
    color: #fff;
    padding: 5px 0;
}

/*---------- Changes for Mobile devices ----------*/

@media(min-width: 992px) and (max-width: 1199px){
    /*medium devices*/
}

@media(min-width: 768px) and (max-width: 991px){
    /*Small devices*/
    #logo-white{
        width: 150px;
        height: 50px;
        margin-top: 15px;
    }
    #logo-color{
        /*display: none;*/
        width: 150px;
        height: 50px;
        margin-top: 15px;
    }
}

@media(max-width: 767px){
    /*Extra small devices*/
    #navList li:hover{
        transform: scale(1);
        border-bottom: 2px solid white;
    }
    .content{
        height: inherit;
    }
    #navList li a{
        color: #fff;
        font-size: 18px;
    }
    #logo-white{
        width: 150px;
        height: 50px;
        margin: 15px 15px;
    }
    #logo-color{
        width: 150px;
        height: 50px;
        margin: 15px 15px;
    }
    #nluPrism{
        /*margin: 0;*/
        /*position: relative;*/
        display: none;
    }
    #nlu{
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    #nluList{
        margin: 15px;
        padding: 0;
        /*width: 300px;*/
        height: 400px;
        position: relative;
    }
    #aboutus p{
        width: 100%;
    }
}
