/*
    border-radius is not supported by IE8
    box-shadow not supported in IE8 and Safari 5.0
*/

:root{
    --blue : #2570FF; 
    --violet: #BA25FF;
    --red: #E94C3C;
    --prismHeight: 420px;
    --prismWidth: 320px;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 1.6em;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.demoButton{
    border: 0;
    margin: 5px 10px;
    padding: 10px 10px;
    font-size: 1.25em;
    background-color: #00B84F;
    color: #fff;
}

.demoButton:hover{
    box-shadow: 0 2px 25px #fff;
}


/*---------- Header bar styling ----------*/


#headingTag{
    border: 0;
    background: linear-gradient(to right, #2570ff -10%,  #BA25FF 30%);
    box-shadow: 0 2px 25px #FFF;
}

#logo-white{
    background: url('../img/logo-white.png');
    background-size: cover;
    display: block;
    width: 180px;
    height: 60px;
    margin: 15px;
}

#logo-color{
    background: url('../img/nav-logo.png');
    background-size: cover;
    display: none;
    width: 180px;
    height: 60px;
    margin: 15px;
}

#collapsable-nav{
    border: 0;
}

#navList{
    padding: 15px;
}

#navList li{
    transition: border-bottom .3s;
}

#navList li:hover{
    border-bottom: 2px solid white;
}

#navList li a{
    color: #fff;
    font-size: 1.5em;
}

#navList ul li{
    font-size: 12px;
}

.navbar-header button.navbar-toggle{
    border: 0;
    margin: 0;
    top: 10px;
    right: 10px;
}

.navbar-header .icon-bar{
    border: 2px solid #fff;
    width: 50px;
    margin: 10px 0;
}

.navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus{
    background-color: #BA25ff;
}

.dropdown-menu{
    background-color: #BA25FF;
}

.navbar-default .navbar-nav .open a{
    background-color: #BA25FF;
}

.dropdown-menu li{
    width: 100%;
    padding-bottom: 2px;
}


/*---------- Main Content Styling ----------*/


.content{
    margin-top: 70px;
}

#aboutus, #platform, #solution, #team{
    margin-top: 50px;
}

.title{
    /*width: 120px;*/
    color: #000;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0;
    text-align: left;
    clear: both;
}

.titleLine{
    border-bottom: 5px solid #2570ff;
    width: 120px;
    margin: 0;
    text-align: left;
}


/*---------- About Us styling ----------*/


#aboutus{
    line-height: 2;
}

#aboutus h3{
    color: #2570FF;
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
}

#aboutus p{
    width: 90%;
    margin: 30px auto;
    /*font-size: 12pt;*/
    text-align: justify;
}


/*---------- Platform Styling ----------*/


#platform{
    position: relative;
    text-align: center;
}

#platformTools{
    border-radius: 50px;
    border: 3px solid #c0c0c0;
    box-shadow: 5px 5px 15px #c0c0c0;
    width: 100%;
    min-height: 570px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iptTool, #nluTool, #utilityTool{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25%;
    height: 45%;
    border-radius: 20%;
    top: 35%;
    margin-top: -2%;
    transition: all .3s ease-in;
}

#iptTool:hover, #nluTool:hover, #utilityTool:hover{
    top: 33%;
    box-shadow: 0 5px 20px;
}

#platformTools a{
    font-size: 2em;
    color: #fff;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#iptTool{
    background-color: #E94C3C;
    left: 6%;
}

#nluTool{
    background-color: #3CA9E9;
    left: 37%;
}

#utilityTool{
    background-color: #52BE80;
    left: 68%;
}

#nlu, #utility, #ipt{
    width: 70%;
    position: absolute;
    left: 25%;
    margin: 0px auto;
    padding-bottom: 15px;
    display: none;
    animation: showElement 0.5s ease-out;
}

#detailnlu{
    width: 70%;
    text-align: justify;
    padding: 0px 0 20px 0;
    margin-top: 45%;
    margin-left: 20%;
    display: none;
}

@keyframes showElement {
    from{transform: scale(0.5);}
    to{transform: scale(1);}
}

#iptDisplay{
    width: 350px;
    height: 350px;
    position: relative;
    margin: 30px auto;
}

.iptComponent{
    position: absolute;
    width: 55%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
    font-size: 1.2em;
}

#iptComponent1{
    box-shadow: 1px 10px #2540FF;
    background-color: #2570FF;
    top: 0;
    left: 0;
}

#iptComponent2{
    box-shadow: 1px 10px #FFB002;
    background-color: #FFC532;
    top: 0;
    right: 0;
}

#iptComponent3{
    background-color: #EF7B22;
    box-shadow: 1px 10px #EF5B00;
    bottom: 0;
    left: 0;
}

#iptComponent4{
    background-color: #FF5656;
    box-shadow: 1px 10px #BF5656;
    bottom: 0;
    right: 0;
}

#nluList{
    background-color: #BA25FF;
    width: 350px;
    margin: 15px;
    height: 450px;
    padding-top: 30px;
    float: left;
}

#nluList a{
    font-size: 1em;
}

#nlu{
    top: 13%;
}

#nlu p{
    font-size: 10pt;
    text-align: justify;
    padding: 0 15px;
    color: #fff;
}

#nluList .nav1{
    padding: 0;
    list-style-type: none;
}

#nluList .nav1 li{
    width: 300px;
    font-size: 1.2em;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
    transition: all .3s;
}

#nluList .nav1 li:hover{
    transform: scale(1.1);
}

#nluList button{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    top: 0;
}

#nluPrism{
    height: 450px;
    width: 40%;
    display: inline-block;
    margin: 15px;
    float: left;
    perspective: 600px;
}

.recPrism{
    width: 320px;
    height: 420px;
    position: relative;
    margin: 15px auto;
    transform: translateZ(-160px);
    transform-style: preserve-3d;
    transition: transform .5s ease-in;
}

.face{
    position: absolute;
    width: 320px;
    height: 420px;
    padding: 20px;
    background: rgba(250,250,350,0.96);
    border: 3px solid #2570FF ;
    border-radius: 3px;
    text-align: justify;
}

.face h4{
    text-align: center;
    font-size: 1.5em;
    color: #2570FF;
}

.face small{
    font-size: 0.8em;
}


.face-front{
    transform: rotate(0deg) translateZ(160px);
}

/*.face-top{ 
    height: 320px;
    transform: rotateX(90deg) translateZ(160px); 
}*/

.face-back{ 
    transform: rotateY(180deg) translateZ(160px); 
}

.face-right{ 
    transform: rotateY(90deg) translateZ(160px); 
}

.face-left{ 
    transform: rotateY(270deg) translateZ(160px); 
}

/*.face-bottom{ 
    height: 320px;
    transform: rotateX(-90deg) translateZ(260px);
}
*/
#utility{
    width: 60%;
    top: 35%;
    left: 30%;
}

#utility p{
    text-align: justify;
}

#utility ul{
    list-style-type: lower-alpha;
    /*padding: 0px;*/
    text-align: left;
    /*margin: 0;*/
}

#utility li{
    margin: 5px;
    padding: 0 15px; 
}



/*---------- Solution Styling ----------*/
#solution{
    line-height: 2;
    text-align: justify;
}

.sol{
    width: 90%;
    margin: 15px auto;
}

.sol h3{
    color: #2570FF;
    font-weight: bold;
}

.pager li a{
    background-color: #fff;
    color: #2570FF;
}

.pager li a:focus, .pager li a:hover{
    background-color: #2570FF;
    color: #fff;
}

/*---------- Team Styling ----------*/

#carousel-team{
    margin-top: 30px;
}

#team1, #team2, #team3{
    min-height: 250px;
}

.carousel-control{
    width: 5%;
}
.team{
    text-align: center;
    padding: 20px 0;
}

.main-wrapper{
    position: relative;
    display: inline-block;
    margin: 35px 15px;
}

.teamPic img{
    width: 150px;
    height: 150px;
}

.main-wrapper img{
    border-radius: 50%;
    box-shadow: 2px 5px 10px #2570FF;
    transition: all .3s ease-in;
}

.main-wrapper img:hover{
    transform: scale(1.2);
}

.triggerContact{
    background-color: #2570FF;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    /*will-change: transform;*/
    /*transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);*/
    /*transform-origin: center center;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 1.2em;
    width: 45px;
    height: 45px;
    bottom: 0;
    right: 0;
    /*padding: 0;*/
    /*box-shadow: -1px 2px 12px #fff;*/
}

.triggerContact a{
    text-decoration: none;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.teamName{
    position: absolute;
    top: 150px;
    width: 100%;
    left: 0;
    background-color: #fff;
}


/*---------- Footer bar Styling ----------*/


.panel-footer{
    margin-top: 20px;
    /*padding-top: 35px;*/
    padding-bottom: 20px;
    /*border-top: 0;*/
    background: linear-gradient(to right, #2570ff -10%,  #BA25FF 50%);
    color: #fff;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: left;
}

#address span, #contactus span{
    font-size: 3em;
    padding: 10px;
}

#copyright{
    background: #222;
    color: #fff;
    padding: 5px 0;
}


/*---------- careers.html ------------*/
#career p{
    text-align: justify;
    width: 80%;
    margin: 30px auto;
}

#joinTeam{
    margin-top: 50px;
    color: #2570FF;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #000;
}

#jobs{
    border: 2px solid #52BE80;
    text-align: center;
    width: 200px;
    margin: 30px auto;
}

#positions{
    padding:10px;
    cursor: pointer;
    background-color: #52BE80;
}

#location{
    padding: 10px;
}

#nlpEngineer{
    width: 80%;
    margin: 30px auto;
    text-align: justify;
    line-height: 2;
    display: none;
    animation: showElement 0.5s ease-out;
}

#hiring{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

#hiring p{
    display: inline-block;
    margin: 0;
    width: auto;
}

#hiring img{
    width: 200px;
    height: 250px;
}

/*---------- Changes for Mobile devices ----------*/

@media(min-width: 769px) and (max-width: 1024px){
    /*medium devices*/
    

    .main-wrapper{
        width: 20%;
    }

    .triggerContact{
        right: 10px;
    }
    
    #nluList{
        width: 300px;
        height: 400px;
    }

    #nluPrism{
        height: 380px;
        width: 40%;
        margin: 15px;
    }

    .recPrism{
        width: 300px;
        height: 380px;
        transform: translateZ(-150px);
    }

    .face{
        width: 300px;
        height: 380px;
    }

    .face h4{
        font-size: 1.2em;
    }

    .face small{
        font-size: 0.7em;
    }

    .face-front{
        transform: rotate(0deg) translateZ(150px);
    }

    /*.face-top{ 
        height: 320px;
        transform: rotateX(90deg) translateZ(150px); 
    }*/

    .face-back{ 
        transform: rotateY(180deg) translateZ(150px); 
    }

    .face-right{ 
        transform: rotateY(90deg) translateZ(150px); 
    }

    .face-left{ 
        transform: rotateY(270deg) translateZ(150px); 
    }

    /*.face-bottom{ 
        height: 320px;
        transform: rotateX(-90deg) translateZ(230px);
    }
    */
    #detailnlu{
        margin-top: 50%;
    }
}

@media(min-width: 426px) and (max-width: 768px){
    /*Small devices*/
    
    .demoButton{
        font-size: 0.8em;
    }

    #logo-white{
        width: 150px;
        height: 50px;
        margin-top: 15px;
    }
    #logo-color{
        /*display: none;*/
        width: 150px;
        height: 50px;
        margin-top: 15px;
    }

    #platformTools{
        min-height: 350px;
    }

    #platformTools a{
        font-size: 1.5em;
    }

  #ipt{
        top: 20%;
        left: 40%;
    }

    #utility{
        top: 25%;
        left: 25%;
        width: 70%;
        font-size: 1em;
        /*left: 40%;*/
    }

    #iptTool{
        /*top: 50px;*/
    }

    #ipt{
        width: 300px;
        height: 300px;
    } 

    #iptDisplay{
        width: 200px;
        height: 200px;
    }

    .iptComponent{
        font-size: 0.8em;
    }

    #nluList{
        width: 300px;
        height: 400px;
        position: absolute;
        top: 380px;
        left: -150px;

    }

    #nluPrism{
        height: 380px;
        width: 300px;
        margin: 15px;
        position: absolute;
        top: 380px;
        left: 190px;
    }

    .recPrism{
        width: 300px;
        height: 380px;
        transform: translateZ(-150px);
    }

    .face{
        width: 300px;
        height: 380px;
    }

    .face h4{
        font-size: 1.2em;
    }

    .face small{
        font-size: 0.7em;
    }

    .face-front{
        transform: rotate(0deg) translateZ(150px);
    }

    /*.face-top{ 
        height: 320px;
        transform: rotateX(90deg) translateZ(150px); 
    }*/

    .face-back{ 
        transform: rotateY(180deg) translateZ(150px); 
    }

    .face-right{ 
        transform: rotateY(90deg) translateZ(150px); 
    }

    .face-left{ 
        transform: rotateY(270deg) translateZ(150px); 
    }

    /*.face-bottom{ 
        height: 320px;
        transform: rotateX(-90deg) translateZ(230px);
    }
    */
    #detailnlu{
        margin-top: 5%;
        margin-left: 15%;
        font-size: 1em;
    }

    #solution{
        margin-top: 450px;
    }

    #team1, #team2, #team3{
        min-height: 480px;
    }
}

@media(max-width: 425px){
    /*Extra small devices*/

    #logo-white{
        width: 150px;
        height: 50px;
        margin: 15px 15px;
    }

    #logo-color{
        width: 150px;
        height: 50px;
        margin: 15px 15px;
    }

    #aboutus p{
        width: 100%;
    }
}
