* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: rgba(225, 225, 225, 0.67);
}

.material-icons {
  color: #fff;
  font-size: 34px;
}

.button-inside .material-icons {
  font-size: 16px;
}

.main-wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  display: flex;
  box-shadow: 0px 4px 8px #2570ff;
}

.main-wrapper-inside img{
  border-radius: 50%;
}

.button {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #2570ff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); 
  box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
  will-change: transform;
}

.button .material-icons {
  transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1); 
  will-change: transform;
  transform-origin: center center;
}

.button.animation {
  background-color: #2570ff;
}

.button.animation .material-icons {
  transform: rotate(-45deg) translateZ(0);
}

.button-wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms cubic-bezier(0.07, 1.1, 0.28, 1.01);
  will-change: transform;
}

.button-wrapper.animation {
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

.button-wrapper.first.animation {
  transform: rotate(-36deg) translateZ(0px);
}

.button-wrapper.second.animation {
  transform: rotate(-68deg) translateZ(0px);
}

.button-wrapper.third.animation {
  transform: rotate(-100deg) translateZ(0px);
}

.button-inside {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.button-inside.first {
  background-color: #2570ff;
  transform: rotate(36deg);
}

.button-inside.second {
  background-color: #2570ff;
  transform: rotate(68deg);
}

.button-inside.third {
  background-color: #2570ff;
  transform: rotate(100deg);
}